.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 6rem;
  min-height: 100vh;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: flex;
  align-items: center;
}

.card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

.card h2 {
  font-size: 18px;
  margin: 0;
}